.lowStockText,
.lowStockHighlight,
.highStockText,
.highStockHighlight,
.container::before {
  color: #3c3c3c;
  font-weight: bold;
}

.container {
  padding: 0;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.container::before {
  content: "DISPONIBILIDAD:";
  font-weight: normal;
  margin-right: 5px;
}
