.heading--footer-menu {
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 1rem;
}
.paragraph--footer-menu,
.link--footer-menu {
  text-decoration: none;
  font-size: 0.87rem;
  margin-bottom: 6px;
  color: black;
}

:global(.vtex-flex-layout-0-x-flexCol--footer-menu-disclosure)
  .wrapper--footer-menu
  .heading {
  display: none;
}

:global(.vtex-flex-layout-0-x-flexRow--footer-menu-mobile)
  .wrapper--footer-items-bottom-text-payments,
:global(.vtex-flex-layout-0-x-flexRow--footer-menu-mobile)
  .wrapper--footer-items-bottom-text-copyright {
  width: 100%;
}
:global(.vtex-flex-layout-0-x-flexRow--footer-menu-mobile)
  .wrapper--footer-items-bottom-text-payments
  .paragraph,
:global(.vtex-flex-layout-0-x-flexRow--footer-menu-mobile)
  .wrapper--footer-items-bottom-text-copyright
  .paragraph {
  width: 100%;
  flex-direction: column;
  text-align: center;
  row-gap: 10px;
  font-size: 0.8rem;
}
