/* SHELF */
.container--shelf-main {
  background-color: #fafafa;
  border-radius: 0;
}

.element--shelf-main {
  padding: 0;
}

/* NAME */
.nameContainer--shelf-main {
  text-align: center;
  justify-content: center;
  min-height: 60px;
  padding: 5px 5px;
  overflow: hidden;
}
.productNameContainer--shelf-main {
  display: -webkit-box;
  /* -webkit-line-clamp: 2; */
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.nameContainer--shelf-main .productBrand {
  /* font-size: 0.9rem; */
  font-size: 0.8rem;
}
