.link--header-sticky-buttons {
  font-size: 0.9rem;
  text-decoration: none;
  text-align: center;
  padding: 8px 16px;
  border-radius: 20px;
  color: #ed2b74;
  font-weight: bold;
  max-width: 110px;
}

.link--header-sticky-buttons.link--gifts {
  border: 1px solid #f5f5f5;
  background-color: #f5f5f5;
}
.link--header-sticky-buttons.link--promos {
  /* display: none; */
  border: 1px solid #ed2b74;
  background-color: #ffffff;
}
