.flexRowContent--pdp-details-info {
  padding: 30px;
  background-color: #fafafa;
}

.flexRowContent--pdp-details-info-disclosure {
  padding: 30px 0;
  border-top: 1px solid #6c757d;
  border-bottom: 1px solid #6c757d;
}

@media screen and (min-width: 640px) {
  .flexRowContent--pdp-details-info {
    padding: 40px;
  }
}
